<div class="
  lg:grid-cols-2 lg:grid-cols-3 lg:grid-cols-4 lg:grid-cols-5 lg:grid-cols-6
  sm:grid-cols-2 sm:grid-cols-3
  bg-primary bg-secondary bg-accent bg-background-primary bg-background-secondary bg-text-primary bg-text-secondary bg-border
  gap-0 gap-1 gap-2 gap-3 gap-4 gap-5 gap-6 gap-7 gap-8 gap-9 gap-10 gap-11 gap-12
">


  <div class="text-primary text-secondary text-accent text-text-primary text-text-secondary text-background-primary text-background-secondary text-sm text-md text-base text-lg text-xl text-2xl text-3xl text-4xl text-1 text-2 text-3 text-4 text-5 text-6 text-7 text-8"></div>
    <div class="hover:text-primary hover:text-secondary hover:text-accent hover:text-text-primary hover:text-text-secondary hover:text-background-primary hover:text-background-secondary hover:text-sm hover:text-md hover:text-base hover:text-lg hover:text-xl hover:text-2xl hover:text-3xl hover:text-4xl hover:text-1 hover:text-2 hover:text-3 hover:text-4 hover:text-5 hover:text-6 hover:text-7 hover:text-8"></div>
      <div class="
        border-primary border-secondary border-border border-text-primary border-text-secondary border-background-primary border-background-secondary
        hover:border-primary hover:border-secondary hover:border-border hover:border-text-primary hover:border-text-secondary hover:border-background-primary hover:border-background-secondary
      ">
      <div class="
        m-0 m-1 m-2 m-3 m-4 m-5 m-6 m-7 m-8 m-9 m-10 m-11 m-12
        p-0 p-1 p-2 p-3 p-4 p-5 p-6 p-7 p-8 p-9 p-10 p-11 p-12
        my-0 my-1 my-2 my-3 my-4 my-5 my-6 my-7 my-8 my-9 my-10 my-11 my-12
        py-0 py-1 py-2 py-3 py-4 py-5 py-6 py-7 py-8 py-9 py-10 py-11 py-12
        col-span-1 col-span-2 col-span-3 col-span-4 col-span-5 col-span-6
      "/>
      <div class="
        left-0 left-2 left-4 left-8 left-12 left-16 left-20 left-24 left-28 left-32 left-36 left-40 left-44 left-48 left-52 left-56 left-60 left-64 left-68 left-72 left-76 left-80 left-84 left-88 left-92 left-96
        top-0 top-2 top-4 top-8 top-12 top-16 top-20 top-24 top-28 top-32 top-36 top-40 top-44 top-48 top-52 top-56 top-60 top-64 top-68 top-72 top-76 top-80 top-84 top-88 top-92 top-96
        left-0/20 left-1/20 left-2/20 left-3/20 left-4/20 left-5/20 left-6/20 left-7/20 left-8/20 left-9/20 left-10/20 left-11/20 left-12/20 left-13/20 left-14/20 left-15/20 left-16/20 left-17/20 left-18/20 left-19/20 left-20/20
        top-0/20 top-1/20 top-2/20 top-3/20 top-4/20 top-5/20 top-6/20 top-7/20 top-8/20 top-9/20 top-10/20 top-11/20 top-12/20 top-13/20 top-14/20 top-15/20 top-16/20 top-17/20 top-18/20 top-19/20 top-20/20
      "/>
    </div>
  </div>
</div>
